body#index p#login_email,
body#index p#login_username,
body#index p#login_password {
    font-family: sans-serif;
    }

body#index section#inner_container {
    height: 12.5em;
    }

section#inner_container {
    border-top: 1px dashed black;
    margin: 0 auto;
    width: 22.5em;
    }

form {
    text-align: center;
    }

p#login_email {
    margin-top: 2em;
    }

p#login_username {
    margin-top: 2em;
    }

p#login_password {
    margin-top: 0.5em;
    }

p#login_email,
p#login_username,
p#login_password {
    margin-bottom: 0.5em;
    }

input.itemtoadd {
    background-color: white;
    border: 1px solid orange;
    box-shadow: inset 1px 1px 2px #888;
    font-family: sans-serif;
    padding: 0.2em;
    width: 13em;
    }

input#myusername {
    margin-bottom: 1em;
    }

.add_button {
    background-color: #04859d;
    background-color: #5fbdce;
    border: 1px solid #57D6C7;
    border: #ffd373;
    color: #ffffff;
    font-size: 1em;
    padding: 0.2em;
    }

.add_button:hover {
    background-color: #ffd373;
    color: #04859d;
    cursor: pointer;
    }

input#login {
    float: left;
//    font-size: 0.9em;
    margin-left: 7em;
//    max-width: 70px;
//    padding-left: 0;
//    padding-right: 0;
    }

input#register {
    float: right;
//    font-size: 0.9em;
    margin-right: 6.5em;
//    max-width: 80px;
//    padding-left: 0;
//    padding-right: 0;
    }